@import '~bootstrap/scss/bootstrap';
* { box-sizing: border-box; }

.flex-container {
//  background: #8FD8D2;
}

.landing {
	text-align: center;
  justify-content: center;
  margin: 30% 30%;
  align-items: center;
  flex-direction: column;
  background: #CAEBF2;
}

nav {
  margin: auto;
  align-text: center;
  background: #CAEBF2;
  display: flex;
  margin: 0 auto;
  text-align: center;
  font-size: 20px;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
  outline: none;
  padding: 1.5rem 0;
  top: 50%;
  left: 50%;
  font-family: 'Open Sans', sans-serif;
}

#message {
  text-align: center;
  justify-content: center;
  font-family: 'Roboto Condensed', sans-serif;
  // background-color: #FFF2F0;
}

#getMessage {
  text-align: center;
  justify-content: center;
  font-family: 'Open Sans', sans-serif;
//  background-color: #FFF2F0;
}

.hidden {
  display: none;
}

.grid-item {
  font-size: 12px;
  float: left;
  width: 250px;
  height: 270px;
  margin: 10px;
  padding: 10px;
  background: #888;
  color: #262524;
  overflow: scroll;
  font-family: 'Merriweather', serif;
  min-height: 270px;
}

.grid-item.active {
  transform: scale(2,2);
  z-index: 1;
  border: 1px black solid;
  position: absolute;
}

.grid-item.closed {
  transform: scale(1,1);
  border: none;
  position: relative;
}

.grid-item .cooking-time {
  font-size: 11px;
}

.grid-item > * {
  margin: 0;
  padding: 0;
}

.grid-item .name {
  left: 10px;
  top: 60px;
  text-transform: none;
  letter-spacing: 0;
  font-size: 11px;
  font-weight: bold;
}

.view-recipes {
  background-color: inherit;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}
#add-recipe {
  background-color: inherit;
  flex-direction: column;
  flex-direction: row;
  color: black;
  padding: 16px;
  font-size: 20px;
  border: none;
  font-family: 'Open Sans', sans-serif;
}

#hide-password {
  background-color: inherit;
  flex-direction: column;
  flex-direction: row;
  color: black;
  padding: 16px;
  font-size: 20px;
  border: none;
  font-family: 'Open Sans', sans-serif;
}

#delete-recipe {
  background-color: white;
  color: black;
  font-family: 'Open Sans', sans-serif;
  align-self: flex-end;
}

#enlarge-recipe {
font-family: 'Open Sans', sans-serif;
}

.updateRecipe {
  background-color: white;
  color: black;
  font-family: 'Open Sans', sans-serif;
  align-self: flex-end;
}

#getRecipesButton {
  background-color: inherit;
  flex-direction: column;
  flex-direction: row;
  color: black;
  padding: 16px;
  font-size: 20px;
  border: none;
  font-family: 'Open Sans', sans-serif;
}

.button:hover {
  text-shadow: 0 1px hsla(0, 0%, 100%, 0.5);
  color: #222;
  text-shadow: 0 1px hsla(0, 0%, 100%, 0.5);
}


 // .button-group {
//   margin-bottom: 20px;
//   background-color: inherit;
//   font-family: 'Open Sans', sans-serif;
//   display: block;
//   font-size: 20px;
// }

.button-group:after {
  content: '';
  clear: both;
}

.grid:after {
  content: '';
  display: block;
  clear: both;
}

.grid-item.Breakfast    { background: #EFEFEF}
.grid-item.Lunch  { background: #636B46}
.grid-item.Vegetarian   {background: #EFEFEF}
.grid-item.Dinner      { background: #E6CECC}
.grid-item.Dessert      { background: #EFEFEF}


.dropdown {
  position: relative;
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
}


.dropdown:hover .dropdown-content {
  display: block;
}

// styles filter buttons
.dropbtn {
  align-text: centered;
  // background-color: inherit;
  color: #FF3B3F;
  padding: 16px;
  font-size: 20px;
  border: none;
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
}

.dropdown-content {
  vertical-align: middle;
  display: none;
  position: absolute;
  background-color: #FFF2F0;
  min-width: 160px;
  padding: 12px 16px;
  z-index: 1;
  font-family: 'Open Sans', sans-serif;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropbtn {
  display: block;
}


h1 {
background: white;
}
h3 {
  font-size: 20px;
}
h5 {
  font-size: 12px;
}
h6 {
  font-size: 9px;
}



.body {
  background-color: white;
}

.content {
  background-color: white;
  display: flex;
  flex-flow: row wrap;
  display: flexwrap;
  margin: 0 auto;
  color: black;
  justify-content: space-evenly;
  cursor: pointer;
  margin: -1px;
  outline: none;
  padding: 1.5rem;
  font-family: 'Merriweather', serif;
}
