@import '~bootstrap/scss/bootstrap';

.button {
  display: inline-block;
  padding: 0.5em 1.0em;
  background: #EEE;
  border: none;
  border-radius: 7px;
  background-image: linear-gradient( to bottom, hsla(0, 0%, 0%, 0), hsla(0, 0%, 0%, 0.2) );
  color: #222;
  font-family: sans-serif;
  font-size: 16px;
  text-shadow: 0 1px white;
  cursor: pointer;
}

.button:hover {
  background-color: #8CF;
  text-shadow: 0 1px hsla(0, 0%, 100%, 0.5);
  color: #222;
}


.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.dropbtn {
  background-color: $white;
  color: black;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropbtn {
//  background-color: #3e8e41;
}

.button {
  flex-direction: column;
  flex-direction: row;
  background-color: $white;
  color: black;
  padding: 16px;
  font-size: 16px;
  border: none;

}
body {
 background: lighten($info, 50%);
 min-height: 100vh;
 padding: 5rem 0 1rem;
 // text-align: center;
 justify-content: space-evenly;
 align-items: center;
}

h1 {
background: $blue;
}

nav {
  background: $blue;
  display: flex;
  margin: 0 auto;
  text-align: center;
  justify-content: space-evenly;
  align-items: center;
  background: $white;
  // border: 1px solid;
  cursor: pointer;
  margin: -1px;
  outline: none;
  padding: 1.5rem;
}

.content {
  display: flex;
  flex-flow: row wrap;
  display: flexwrap;
  margin: 0 auto;
  text-align: center;
  color: black;
  justify-content: space-evenly;
  // align-items: center;
  // border: 1px solid;
  cursor: pointer;
  margin: -1px;
  outline: none;
  padding: 1.5rem;
  // padding: 1rem;
}
